<app-popup-excluir></app-popup-excluir>
<app-popup-editar></app-popup-editar>

<div class="container mt-4">
  <form id="taskForm" class="mb-4" (ngSubmit)="onAdd()">
    <div class="row">
      <!-- Campo Descrição -->
      <div class="col w-100">
        <label for="descricao" class="form-label">Descrição</label>
        <input
          type="text"
          class="form-control"
          id="descricao"
          [(ngModel)]="task.descricao"
          name="descricao"
          placeholder="Digite a descrição da tarefa"
          required
        />
        <input type="hidden" name="completo" value="false">
      </div>

      

      <!-- Botão Salvar -->
      <div class="col-md-3 d-flex align-items-end">
        <button type="submit" class="btn btn-success w-100">Salvar</button>
      </div>
    </div>
  </form>
</div>


<div *ngIf="tasks && tasks.length > 0; else noTasks">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Descrição</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tasks">
        <!-- Coluna: Descrição -->
        <td>{{ item.descricao }}</td>

        <!-- Coluna: Status -->
        <td>{{ item.completo ? 'Feito 👍!' : 'Incompleto, vá terminar 🏃...' }}</td>

        <!-- Coluna: Ações -->
        <td>
          <button
            *ngIf="!item.completo"
            type="button"
            class="btn btn-primary btn-sm m-1"
            (click)="onFinish(item)"
          ><i class="bi bi-check"></i>
            Concluir
          </button>

          <button
            type="button"
            class="btn btn-warning btn-sm"
            (click)="onEdit(item)"
            ><i class="bi bi-pencil"></i>
            Editar 
          </button>

          <button
            type="button"
            class="btn btn-danger btn-sm m-1"
            (click)="onDelete(item)"
          ><i class="bi bi-trash"></i>
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <div class="col">
        Total de tasks - {{ totalElements }}
    </div>
    <div class="col">
        Número de páginas - {{ totalPages }}
    </div>
  </div>
</div>

<!-- Template de mensagem caso não tenha tarefas -->
<ng-template #noTasks>
  <div class="alert alert-info text-center mt-3" role="alert">
    Nenhuma tarefa encontrada! Adicione uma nova para começar.
  </div>
</ng-template>